@use "sass:map"
@use "sass:color"
@use "sass:math"


$all-colors: ('purple':rgb(105,12,104), 'yellow':rgb(240,154,53), 'pink':rgb(234,78,80), 'white':rgb(255,255,255), 'gray':rgb(210,210,210), 'darkgray':rgb(120,120,120), 'black':rgb(0,0,0), 'green':rgb(46, 107, 53))

@function get ($string, $opacity:100, $opaque:false)
  $a: $opacity / 100
  $rgb: map.get($all-colors,$string)
  $rgba: color.change($rgb, $alpha: $a)
  @if $opacity == 100
    @return $rgb
  @else if $opaque
    @return rgba-to-rgb($rgba)
  @else 
    @return $rgba

@function dark ($c, $change: -20%) 
  @return color.adjust($c, $lightness: $change)

@function rgba-to-rgb($rgba, $opacity: 0, $background: #fff) 
  @if $opacity > 0 
    @if $opacity < 1 
      $opacity: $opacity * 100
    @return mix(mix(rgb(red($rgba), green($rgba), blue($rgba)), $background, alpha($rgba) * 100%), rgb(255,255,255), $opacity)
  
  @return mix(rgb(red($rgba), green($rgba), blue($rgba)), $background, alpha($rgba) * 100%)

@each $color,$rgb in $all-colors
  .#{$color}
    &:not(.box, .button)
      color: get($color)
    &-bg
      background-color: get($color)
      &-o
        background-color: get($color,90)
      &-light
        background-color: get($color,70,true)
        &-o
          background-color: get($color,70)
      &-xlight
        background-color: get($color,40,true)
        &-o
          background-color: get($color,40)
      &-pale
        background-color: get($color,10,true)

:root
  --fc-bg-event-color: #{get('yellow',50)}
  --fc-event-bg-color: #{get('pink',80)}
  --fc-event-border-color: #{get('pink',70)}
  --fc-today-bg-color: #{get('purple',5)}
  --fc-button-bg-color: #{get('purple',80)}
  --fc-button-border-color: #{get('purple',90)}
  --fc-button-active-border-color: #{get('purple')}
  --fc-button-hover-border-color: #{get('purple')}
  --fc-button-active-bg-color: #{get('purple')}
  --fc-button-hover-bg-color: #{get('purple',90)}
  --green75: #{get('green',75,true)}

@each $num in [10 30 50 70]
  .shaded#{$num}
    background-color: get('white', $num)

@each $color in ['pink' 'yellow' 'purple' 'green' ]
  .bg_flash_#{$color} 
    animation: bg_flash_#{$color} cubic-bezier(0.5, 0, 0.5, 1) 500ms infinite alternate
    &.slow
      animation: bg_flash_#{$color} cubic-bezier(0.5, 0, 0.5, 1) 1000ms infinite alternate
    &.twice
      animation: bg_flash_#{$color} cubic-bezier(0.5, 0, 0.5, 1) 1000ms 5 alternate forwards
  @keyframes bg_flash_#{$color} 
    100% 
      background-color: get($color)

  .border_flash_#{$color} 
    animation: border_flash_#{$color} cubic-bezier(0.5, 0, 0.5, 1) 500ms infinite alternate
    &.slow
      animation: border_flash_#{$color} cubic-bezier(0.5, 0, 0.5, 1) 1000ms infinite alternate
    &.twice
      animation: border_flash_#{$color} cubic-bezier(0.5, 0, 0.5, 1) 1000ms 5 alternate forwards
  @keyframes border_flash_#{$color} 
    100% 
      border-color: get($color)
  




