// Body
// $body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$main-color:#06c;
$purple:rgb(105,12,104);
$yellow:rgb(240,154,53);
$yellow4:rgba(240,154,53,0.4);
$pink:rgb(234,78,80);
