$widths: ('mini':200px,'tiny':300px,'xsmall':400px,'small':500px, 'medium':600px, 'large':700px, 'xlarge': 800px, 'huge':1000px, '95':95%, '100':100%)
$widths_vw: ('sixth':16vw,'fifth':20vw,'quarter':25vw,'third':33vw,'half':50vw,'two-thirds':66vw,'three-quarters':75vw)

$spacings: ('none':0, 'xmini':0.1rem, 'mini':0.25rem, 'xsmall':0.5rem, 'small':1rem, 'medium':1.5rem, 'large': 2rem, 'xlarge': 2.5rem, 'huge':3rem, 'massive':4rem, 'auto':auto)
$sides: 'top','bottom','left','right'

$roundedness: ('none':0, 'small':0.25rem, 'medium':0.5rem, 'large':0.75rem, 'full':50%)

$heights: ('mini':100px, 'xsmall':200px, 'small':300px, 'medium':400px, 'large':600px, 'xlarge': 900px)
$pops: ('small':20%,'medium':35%, 'half':50%, 'large':70%)

$border-widths: ('none':0, 'thin':1px, 'small':2px, 'medium':3px, 'large':4px, 'thick':5px)

$box-colors: 'pink', 'yellow', 'purple', 'green', 'darkgray', 'gray'
$box-shades: ('dark': 15 100, 'medium': 10 75, 'light': 5 50)

$answer-colors: 'purple', 'green', 'yellow', 'pink'
$answer-types: 'text' 'textbox' 'list' 'checkboxes' 'number' 'scale' 'address' 'email' 'phone' 'time' 'date' 'imageclick' 'signature'

$animation-speeds: ('fastest':200,'faster':350,'fast':500,'slow':800,'slower':1000,'slowest':1500)
$animation-curves: ('pre_bounce': cubic-bezier(.46,-0.45,.54,.97), 'post_bounce': cubic-bezier(.64,.57,.67,1.53), 'both_bounce': cubic-bezier(.46,-0.45,.54,1.53), 'strong_easeinout': cubic-bezier(.73,.03,.37,.99), 'easeinout_sine': cubic-bezier(0.37, 0, 0.63, 1))
