.text-container p {padding:0.5em;}
.text-container h3 {padding-top:1.5em;}

.link {
    font-family: Lora, serif;
    color: red;
    margin-left: 2em;
}

.flexbox {margin: 0}

.splash {
    position:relative;
    width:95%;
    margin:auto;
    margin-bottom: 2em;
    border-radius: 1em;
    background-size:cover;
    text-align: center;
    box-shadow: 5px 5px 20px 5px rgba(170,170,170,0.7);
}

.splash a {color:rgb(60,60,60);}

.splash a:hover {color:rgb(40,40,40)}

.splash h2 {
    padding: 2em 0 0 0;
    margin: 0 3em 0 3em;
}

.splash h3 {
    padding:0 0 3em 0;
    margin: 0 3em 0 3em;
}

.splash > span {
    position: absolute;
    top:1em;
    right:2em;
}

.excerpt {
    background-color: rgba(255,255,255,0.8);
    padding-bottom:0.5em;
    position:relative;
    text-align: left;
    border-radius: 0 0 1em 1em;
    transition:background-color 1s;
}

.excerpt:hover {background-color:rgba(230,230,230,0.8);}

.excerpt p {
    padding:1em;
    text-indent: 1em;
}

.excerpt span {
    font-size: 0.8em;
    color: red;
    text-decoration: underline;
    position:absolute;
    right:0;
    bottom:0.5em;
    margin-right:2em;
    padding: 0.5em 1em;
    -webkit-transition: color 1s; /* Safari */
    transition: color 1s;    
}

#sidebar {
    flex: 0 0 1;
    width: 25%;
    background-color:rgba(170,170,170,0.4);
    margin:0;
}

#keywords {
    padding: 1em;
}

#keywords h3 {
    padding-top:0;
}

#keywords a {
    font-size: 0.8em;
    padding:0.2em 0.5em 0.2em 0.5em;
    border-radius: 1em;
    background-color: rgba(270,270,270,0.6);
    text-decoration: none;
    margin:0.5em 0.3em 0.5em 0.3em;
}

#articles {
    flex: 0 0 1;
    width: 75%;
}

#articles .anchor {
    padding-top:3.5em;
}

.article-wrap {
    margin:0 2em 0 2em;
    position: relative;
}

#mindfulness101 {
    background-image: url(/images/discover/2017/may/red-mountains.jpg);
    background-size: cover;
    background-position: center;
}