.nav {  
    text-align:right;
    margin: 0; 
    padding: 0;
    font-family: "Open Sans", sans-serif;
    z-index: 9999;
}

.nav li {
    display: inline-block;
    list-style: none;
    margin-left:0.5em;
}

.nav .dropdown-menu li {
    margin-left:0px;
    margin-top: 0.3em;
    text-align: right;  
}

.nav .button-dropdown {
    position: relative;
}

.nav li a {
    display: block;
    color: #333;
    background-color: transparent;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 1.5em;
}

.nav li a.current {
    background-color: white;
}

#booknow {
    background: linear-gradient(#4FB856,#3b8944);
    color: white;
    margin-left: 0.5em;
}

#booknow:hover {
    background-color: #3B8944;
    color: #FDE864;
}

#booknow-nested a {
    background: linear-gradient(#4FB856,#3b8944);
    color: white;
    margin-left: 0.5em;
}

#booknow-nested:hover a{
    background-color: #3B8944;
    color: #FDE864;
}

.nav li a span {
    display: inline-block;
    margin-left: 0.5em;
    font-size: 0.8em;
    color: #999;
}

.nav li a {
    -webkit-transition: background-color 0.5s, color 1s; /* Safari */
    transition: background-color 0.5s, color 1s, background 3s;    
}

.nav li a:hover {
    background-color:white;
    background: linear-gradient(white, rgb(230,230,230));
    color:black;
}

.nav li a.dropdown-toggle.active {
    background-color: white;
    background: linear-gradient(white, rgb(230,230,230));
    color: black;
}

ul.nav {
    position:fixed;
    top: 0.7em;
    right: 5%;
}

img.logo {
    height: 3.5em;
    display:inline-block;
    position:fixed;
    top: 0.2em;
    left:5%;
    z-index: 9999;
}

div.navbar {
    width: 100%;
    height: 4em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    background: linear-gradient(rgba(200,200,200,0.97),rgba(217,217,217,0.97)) ;
}

.nav li a:hover span, .nav li a.dropdown-toggle.active span {
    color: black;
}

.nav li .dropdown-menu {
    display: none;
    position: absolute;
    right:0;
    background-color: rgba(217,217,217,0.95);
    border-radius: 0em 0em 1.5em 1.5em;
    padding: 0.3em;
    margin: 0;
    margin-top: 0.8em;
    margin-bottom: 0.7em;
    text-align: right;
    box-shadow: 0.5em 2em 4em -0.3em rgba(0,0,0,0.4);
}

.nav li .nested {
    position: relative;
    right:5px;
    margin-left:5px;
    box-shadow: none;
    border-radius: 1.5em;
    background-color: rgba(190,190,190,0.3);
}

.nav li .dropdown-menu.active {
    display: block;
}

.nav li .dropdown-menu a {
    width: 10em;
}

.nav li .dropdown-menu.nested.wide a {
    width: 12.1em;
}

.nav li.desktop {
    display: none;
}

.nav li.mobile {
    display: none;
}

#mobilemenu {
    background-color: white;
    background: linear-gradient(white, rgb(230,230,230));
}

#tabList {
    display: none;
}
