#dice-now {
    background-image: url(/images/discover/2017/may/now.jpg);
    background-size: cover;
    background-position: center;
}

#face-disintegrate {
    background-image: url(/images/discover/2017/may/face-disintegrate.jpg);
    background-size: cover;
    background-position: center;    
}

#machine-man {
    background-image: url(/images/discover/2017/may/machine-man.jpg);
    background-size: cover;
    background-position: top;    
}

#emotions-weather {
    background-image: url(/images/discover/2017/may/emotions-weather.jpg);
    background-size: contain;
    background-position: top;    
}

#sitting-meditation {
    background-image: url(/images/discover/2017/may/sitting-meditation.jpg);
    background-size: cover;
    background-position: center;    
}

#planting-tree {
    background-image: url(/images/discover/2017/may/planting-tree.jpg);
    background-size: cover;
    background-position: center;        
}

#climb {
    background-image: url(/images/discover/2017/may/climb.jpg);
    background-size: cover;
    background-position: center;            
}